h1 {
	background-image: url('../img/Computer.jpg');
	background-color: black;
	background-size: 100% 80%;
	background-repeat: no-repeat;
	background-position: left bottom;
	border: 2px dashed lightgreen;
	width: 1200px;
	height: 200px;
	
}

#second-para {
	color: white;
	background-color: black;
}

.first-class {
	color: white;
}